#OAuth credentials for this application.
#Fri Nov 15 22:30:05 PST 2013
#accessToken=aCceS5T0k3nH3re
consumerSecret=c0n5um3rSeCr3tHer3
consumerKey=Con5umeRk3YheRe
#accessTokenSecret=acc355t0k3n53cr3ther3
